header {
    display: flex;
    justify-content: space-between;
    background-color: #828282;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}


nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "fira code";
    text-decoration: none;
    margin-right: 30px;
    transition: transform 200ms linear;
}

a::before {
    content: "";
    background-color: #62C370;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover {
    transform: scale(1.05);
}

#menu-button {
    display: inline-block;
    background-color: #62C370;  
    box-shadow: 5px 5px 0px black;
    padding: 18px 20px; /* sentido horario pq tem 4 lados */
    margin-right: 0;
    transition: transform 100ms linear;
}

#menu-button:hover  {
    transform: scale(1.05);
}
/*teste*/